---
# enforce
---
<!doctype html>
<html lang="pt-BR">
<head>
  <title> Adriano Lourenço · {{ title }} </title>
  <meta name="description" content="{{ meta.description }}"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height"/>
  <link rel="stylesheet" href="/assets/tailwind.css" />
  <script src="/assets/vue.js" defer></script>
  <style>

  </style>
</head>
<body class="">
  <div id="root" class="min-h-screen flex flex-col" :class=" navOpen ? ['overflow-hidden', 'fixed' ] : '' ">
    <header id="header" class="p-4 sm:px-8 relative z-30 flex justify-between sm:flex-col sm:mx-auto sm:items-center">
      <h1 class="font-bold text-2xl sm:mb-2">
        <a href="/">Adriano Lourenço</a>
      </h1>
      <nav id="nav" :class="{ 'open': navOpen }">
        <button class="sm:hidden" @click="navOpen = !navOpen">
          <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="triple-bar text-black h-6 w-6 block">
            <path class="hide" d="M0 3h20v2H0V3z"></path>
            <path class="rotate-left" d="M0 9h20v2H0V9z"></path>
            <path class="rotate-right" d="M0 9h20v2H0V9z"></path>
            <path class="hide" d="M0 15h20v2H0v9z"></path>
          </svg>
        </button>
        <ul class="hidden sm:block">
          {%- for entry in collections.navigation -%}
            <li class="inline-block hover:underline mx-2 text-lg {{ 'text-gray-800' if page.url == entry.url else 'text-gray-600' }}">
              <a href="{{ entry.url }}">
                {{ entry.data.title }}
              </a>
            </li>
          {%- endfor -%}
          <li class="inline-block text-gray-600 hover:underline mx-2 text-lg">
            <a title="Download my resume" download="{{ contact.resume.filename }}" class="block mb-8 hover:underline" href="{{ contact.resume.url }}">Resume</a>
          </li>
        </ul>
      </nav>
    </header>
    <aside class="sm:hidden z-20 w-full h-full bg-white fixed text-lg p-8 pl-12 font-bold mt-16 border-l border-gray-600
      transition-transform transform duration-500" :class="navOpen ? '-translate-x-px' : 'translate-x-full'">
      {%- for post in collections.navigation -%}
        <a class="block mb-8 hover:underline" href="{{ post.url }}">{{ post.data.title }}</a>
      {%- endfor -%}
      <a title="Download my resume" download="{{ resume.filename }}" class="block mb-8 hover:underline" href="{{ resume.url }}">Resume</a>
    </aside>
    <main id="main" class="container max-w-4xl my-4 flex-grow">
      {{ content | safe }}
    </main>
    <hr>
    <footer id="footer" class="px-4 pt-2 pb-8 grid grid-cols-1 leading-normal sm:grid-cols-2 mx-auto">
      <section>
        <h2 class="font-bold text-lg mt-2">Contact</h2>
        <a class="text-blue-600 hover:underline" target="_blank" href="{{ contact.linkedin }}">Linkedin</a> <br>
        <a class="text-blue-600 hover:underline" target="_blank" href="{{ contact.github }}">Github</a> <br>
        <a class="text-blue-600 hover:underline" href="mailto:{{ contact.email }}">{{ contact.email }}</a> <br>
      </section>

      <section>
        <h2 class="font-bold text-lg mt-2">Web page details</h2>
        <p>
          Made with <span class="text-teal-500 font-bold">TailwindCSS</span>
          and <span class="text-green-500 font-bold">Vue</span>
        </p>
        <p>Hosted on <span class="text-black font-bold">Github-Pages</span>.</p>

        <p class="mt-2">SVG icons by 
          <a class="text-blue-600 hover:underline"
          href="https://www.flaticon.com/authors/pixel-perfect" target="_blank">Pixel Perfect</a> and 
          <a class="text-blue-600 hover:underline"
          href="https://www.flaticon.com/authors/dave-gandy" target="_blank">Dave Gandy</a>.
        </p>
      </section>
    </footer>
    <div v-show="zoom.open" id="zoomContainer" @click="zoomClose"
    class="z-40 fixed top-0 w-screen h-screen bg-black bg-opacity-75 flex flex-col justify-center cursor-zoom-out">
      <img class="w-inherit h-inherit object-contain" :src="zoom.image">
    </div>
  </div>

<script> 
document.getElementById('zoomContainer').style.display = "none"
window.addEventListener('load', function () {
var app = new Vue({
  'el': '#root',
  data: {
    navOpen : false,
    zoom: { open: false, image: "" }
  },
  methods: {
    zoomOpen (event) { this.zoom.image = event.target.src; this.zoom.open = true; },
    zoomClose (event) { this.zoom.open = false; }
  }
})
})
</script>
</body>
</html>