@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind screens;

@layer base {
  body {
    @apply text-black antialiased bg-white leading-tight font-sans;
  }
  *, button:focus {
    outline-color: rgb(128, 90, 213);
  }
  ::selection {
    @apply text-white bg-purple-600;
  }
}

@layer components {
  svg.triple-bar path {
    transition: transform .5s, opacity .5s;
    @apply origin-center;
  }
  .open svg.triple-bar path.rotate-left {
    transform: rotate(45deg);
    @apply origin-center;
  }
  .open svg.triple-bar path.rotate-right {
    transform: rotate(-45deg);
    @apply origin-center;
  }
  .open svg.triple-bar path.hide {
    @apply opacity-0;
  }

  .divider {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  .divider::before, .divider::after {
    content: ' ';
    display: block;
    height: 1px;
    width: 100%;
  }

  .divider::after {
    background: linear-gradient(to left, rgba(240,240,240,0), black);
    margin-right: 4vh;
  }

  .divider::before {
    background: linear-gradient(to right, rgba(240,240,240,0), black);
    margin-left: 4vh;
  }

}

@layer utilities {
  .w-inherit {
    with: inherit;
  }
  .h-inherit {
    height: inherit;
  }
}